<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>API TEST - HELLO PAGE</title>
    </head>
    <body>
        <h1>Welcome to API TEST!</h1>
        <p>
        	<strong>GET ALL USERS:</strong><a th:href="@{/api/user/findAll}"> click here!</a><br><br>
        	<strong>GET ALL PRODUCTS:</strong><a th:href="@{/api/product/findAll}"> click here!</a><br><br>
        	<strong>GET ALL ORDERS:</strong><a th:href="@{/api/order/findAll}"> click here!</a><br><br>
        </p>
    </body>
</html>